@import "bootstrap/scss/bootstrap";

.nav-tabs .nav-link {
    color: rgb(73, 73, 72);
  }

  .tabs {
    margin-top: 15px;
  }
  
  .router-link {
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 15px;
    border-right: solid 1px transparent;
    border-top: solid 1px transparent;
    border-left: solid 1px transparent;
    border-bottom: solid 1px #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .router-link.active, .router-linkL.active:hover {
    color:blue;
  }
  
  .router-link.active {
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;
    border-bottom-color: transparent;
    
  }
  
  .genre-link {
    margin: 2px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .spinner {
    position: absolute;
    right: 80px;
    top: 70px;
  }

  .movie-card-title {
    min-height: 50px;

    h5 {
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 0;
    }
  }